/* #2d3436 */
/* #e6b31e */
/* #fafafa */

body{
    color: black;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}



.page-title{
    font-family: 'Russo One', sans-serif;
    font-size: 280%;
    color: #fafafa;
    margin-left: auto;
}

.page-logo{
    color: #e6b31e;
}



input{
    border-radius: 5px;
    padding: 7px;
    margin-right: 5px;
}

form button{
    background-color:#2d3436 ;
    color: #e6b31e;
    padding: 5px;
    border-radius: 3px;
    width: 40px;
}

.search-icon{
    font-size: 23px;
}



header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.701),rgba(0, 0, 0, 0.701)),url(../images/popcorn.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;;
}


h2{
    color: #fafafaac;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 500%;
    padding: 18% 7% 4% 7%;
}






.back-search{
    position: absolute;
    right: 10px;
    margin-top: 10px;
    color: #e6b41e7c;
    font-size: 15px
}

.back-search:hover{
    color:#171717
}

.row{
    padding: 8% 5%;
}

.content{
    background-color: #2d3436;
    color: #e6b31e
}

h3{
    font-size: 40px;
    margin-bottom: 0;
    font-family: 'Russo One', sans-serif;
}

.search-details{
    text-align: center;
}

.response-label{
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold
}

.response-details{
    margin-bottom: 25px;
    font-size: 18px;
}

.trailer-button {
    background-color: #2d3436;
    color: #e6b31e;
    padding: 5px;;
    border-radius: 5px;
}

.trailer-button:hover{
    background-color: #000000
}

.trailer-button:focus {
    outline:none
}




.search-image{
    text-align: center;
}

.movie-image{
    width: 375px;
    height: 522px;
}


.modal-content{
    background-color: #2d3436;
    color: #e6b31e;
    font-family: 'PT Sans', sans-serif;
}

















@media only screen and (max-width: 770px) {
   .search-details {
      padding-top: 15%;
    }

    .row{
        padding-top: 22%;
    }
  }