/* #2d3436 */
/* #e6b31e */

.page-title{
    font-family: 'Russo One', sans-serif;
}

.page-logo{
    color: #e6b31e;
}



.search-details{
    text-align: center;
}

.response-label{
    margin-bottom: 0px;
    font-weight: bold
}

.search-image{
    text-align: center;
}

.movie-image{
    width: 375px;
    height: 522px;
}